<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
</head>
<body>
    <form class="sg-content" id="sg_form">
        <div id="div_id_cnpj" class="mb-3">
             <label for="id_nome" class="form-label">Qual seu nome? </label>
              <input type="text" name="cnpj" maxlength="255" class="textinput textInput form-control" id="id_nome"> 
            </div>

            <div id="div_id_cnpj" class="mb-3">
                <label for="id_idade" class="form-label">Qual sua idade? </label>
                 <input type="text" name="cnpj" maxlength="255" class="textinput textInput form-control" id="id_idade"> 
               </div>

               <div id="id_genero" class="mb-3">
                <label for="id_idade" class="form-label">Qual seu genero ? </label>
                 <input type="text" name="id_genero" maxlength="255" class="textinput textInput form-control" id="id_genero"> 
               </div>
           
               <div class="col text-center mb-1 mt-1">
                <input type="button" name="submit" class="btn btn-warning btn-block btn-info btn-insert-data" value="Adicionar" id="btn">
            </div>    
        </form>
    
    
    </body>
</html>